body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #b7f8db 0%, #50a7c2 100%);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: #f0f0f0;
    width: 70%;
    min-width: 320px;
    max-width: 600px;
    height: 600px;
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 30px 30px 30px;
}

.newTaskInput {
    border: none;
    border-radius: 5px;
    width: 70%;
    background: #ffffff;
    height: 70%;
    padding-left: 20px;
}

.invalid {
    border: 1px solid red;
    border-radius: 5px;
    width: 70%;
    background: #ffffff;
    height: 70%;
    padding-left: 20px;
}

.invalid::-webkit-input-placeholder {
    color: red;
}

.newTaskInput:focus::-webkit-input-placeholder{
    color: rgb(133, 133, 133);
}

.newTaskButton {
    border: none;
    border-radius: 5px;
    background: #42cc60;
    color: white;
    width: 5rem;
    height: 70%;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.newTaskButton:hover {
    border: 2px solid white;
}

section {
    height: 26rem;
    overflow-y: auto;
}

.check {
    width: 15px;
    height: 15px;
}

.task {
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: auto;
    justify-content: space-between;
    margin: 0 10px 10px 10px;
    background: #e0e0e0;
}

.delete {
    border: none;
    border-radius: 5px;
    background: #f85050;
    color: white;
    width: 5rem;
    height: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.delete:hover {
    border: 2px solid white;
}

.task p {
    max-width: 400px;
}

.done {
    border-top: 3px solid #e0e0e0;
    padding-top: 10px;
    margin: 0 10px;
}

.taskdone {
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: auto;
    justify-content: space-between;
    margin-bottom: 10px;
    background: #e0e0e0;
}

.taskdone p {
    max-width: 400px;
    text-decoration: line-through;
}